html {
    background: url(imagenes/libros.jpg);
    background-attachment: fixed;
    
  }

  #logotipo{
    width: 300px;
    height: 150px;
  }

  a{
    font-family:cursive;
    font-size: 15px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin:10px 10px 10px 10px
  }

  a:link{
    color:#fff;
    background-color: purple;
    padding: 10px 20px;
  }
  a:hover{
    color: #000;
    background-color: purple;
    text-decoration: darkmagenta;
    background-color: palevioletred;
    padding: 10px 20px; 
  }

  body {
    width: 1000px;
    height: 100%;
    margin: 0 auto;
    background-color: #fca8ea;
    border-color: moccasin;
    border:10px outset purple;
    padding: 0px 20px 20px 20px;
    opacity: 80%;
  }

h3{
text-align: center;
size: 10px;
}
#primertitulo{
    font-family:cursive;
    font-size : 50px;
    text-align : center;
    padding-right: 0;
    background-color:linen;

}

#tituloCuento{
  font-family:cursive;
  font-size : 30px;
  text-align : center;

}
#imagenchapulin{
    display: block;
    margin-left: auto;
  	margin-right: auto;
    width: 320px;
    height: 200px;
}
#audio{
  display: block;
  padding: 0px 10px 20px 10px;
  float:none;
  margin-left: auto;
	margin-right: auto   
}

#logotipo{
  width: 200px;
  height: 100px;
}

.main{
  flex-direction: column-reverse;
}
#texto{
  width: 450px;
  border: 10px dotted slateblue;
  background-color: #fc99e6;
  float: left;

}
#textolengua{
  width: 450px;
  border: 10px dotted slateblue;
  background-color: #fc99e6;
  float:right;
}

.column {
  float: left;
  width: 50%;
  padding: 15px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

p {
  font-family: "Segoe UI";
  font-size: 5mm;
}

.dialogo{
font-style: italic;
}

.mutimedia{
  margin-left: auto;
	margin-right: auto 
}
#opinion{
  background-color: rgb(210, 166, 240);
  border: 10px double slateblue;
  margin: 10px 10px 10px 10px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 15px;
  font-style: italic;
  text-align: justify;
  text-justify: inter-word;
}
#nombre{
  text-align: right;
  padding: 10px;
}
.titulo{
  font-family: cursive;
  text-align: center;
  background-color: darkslateblue;
  color:floralwhite;
}

#glosarioizq{
  width: 450px;
  float:left;

  padding: 5px;
}
#glosarioder{
  width: 450px;
  float:right;

  padding: 5px;
}
dt{
  background-color: #d13ab0;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: #fff;
  padding: 5px;
}
dd{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  padding: 10px;
}
#referencia{
  font-size: 12px;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}
#video{
  width: 420px; 
  height: 345px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}